body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #23223a;
    color: #f0f0f0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #ffffff;
  }
  
  p {
    color: #cccccc;
  }
  
  .navbar {
    background-color: #2c2c3e;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #b38bfa;
  }
  
  .nav-link {
    color: #ffffff !important;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #b38bfa !important;
  }
  
.navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}


.navbar .navbar-nav .nav-item:last-child {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}


.navbar .nav-link,
.navbar .dropdown-toggle {
    border: 2px solid #a18aff;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 6px 18px !important;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover {
    background: #a18aff;
    color: #fff !important;
    border-color: #fff;
}
  

 #carouselExampleIndicators {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 80vh;
  overflow: hidden;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 85%;
  object-fit: contain;
  object-position: cover;
}

  #produtos h2 {
    color: #b38bfa;
  }
  
  .card {
    background-color: #353353;
    color: #ffffff;
    border: none;
    transition: transform 0.8s ease;
    border-radius: 16px;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(179, 139, 250, 0.3);
  }
  
  .btn-success {
    background-color: #b38bfa;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #9a6fea;
  }
  
  #sobre {
    background-color: #29293d;
  }
  
  #sobre img {
    border-radius: 12px;
  }
  
  footer {
    background-color: #2c2c3e;
    color: #999;
  }
  

  .offcanvas {
    background-color: #29293d;
    color: white;
  }
  
  .offcanvas .btn-primary {
    background-color: #b38bfa;
    border: none;
  }
  
  .offcanvas .btn-primary:hover {
    background-color: #9a6fea;
  }
  

  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 250px;
    }
  
    #sobre .row {
      flex-direction: column-reverse;
    }
  
    .btn {
      font-size: 0.9rem;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
